body {
    background-color: blueviolet;
    color: white;
}

.modal {
    position: fixed;
    top: 75px;
    left: 75px;
}

ul li {
    list-style-type: none;
}

.modal-title {
    color: black;
}

.modal-body {
    color: black;
}